* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: red;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
  user-select: none;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 455px;
  height: 402px;
  display: flex;
  flex-wrap: wrap;
  font-size: 110px;
}
.box {
  width: 32%;
  height: 134px;
  border: 1px solid;
  border-color: green;
  box-shadow: 0 0 10px green;
  border-bottom: none;
  border-left: none;
}
.box-1,
.box-2,
.box-3 {
  border-top: none;
}
.box-3,
.box-6,
.box-9 {
  border-right: none;
}

.result-display {
  font-size: 10vw !important;
  color: blue; 
  position: absolute;
  transition: 1s;
}

button{
  width: 100px;
  height: 50px;
  border-radius: 6px;
  background-color: black;
  color: blue;
  border: 1px solid green;
  margin-top: 0px;
}
